//ItemList
.item-list{
    background-color: white;
    border: 1px solid $grey;
    overflow-y: scroll;
    width: 100%;
}

.item-list__header{
    display: flex;
    flex-direction: column;
    padding: $space;
}

//Item
.item{
   cursor: pointer;
   padding: $space;
   border-left: $item-border-width solid transparent;
   transition: background-color .3s ease, border-left .3s ease;
}

.item:hover{
    background-color: $lightgrey;
    border-left: $item-border-width solid $grey;
}

.item--selected, .item--selected:hover{
    background-color: $lightgrey;
    border-left: $item-border-width solid $brand-primary;
}

.item__title{
    font-weight: normal;
    font-size: $base-font-size;
    margin-bottom: .4rem;
}

.item--selected .item__title{
    font-weight: bold;
}

.item__subtitle{
    color: $darkgrey;
    margin:0;
    
}



//Empty Item

.empty-item{
    font-style: italic;
    padding: $space;
    text-align: center;
}
